
node_modules/
dist/
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.pytest_cache/
.ipynb_checkpoints/


*.onnx
*.pt
*.pth
*.bin
*.csv

icons/temp_*